
<header>
    <div class="logo-container">
        <a href="/index.html">
            <img src="/assets/img/logo-light-final-no-font.svg" alt="Pixx.bot Logo" class="logo-img">
        </a>
    </div>
    <nav class="mono">
        <ul>
            <span id="solutions-link"><li><a href="/index.html#solutions">Solutions</a></li></span>
            <!-- <span id="technology-link"><li><a href="/index.html#technology">Technology</a></li></span> -->
            <span id="contact-link"><li><a href="/pages/contact-us.html">Contact</a></li></span>
        </ul>
    </nav>
</header>
